.header{
    text-align: center;
    font-size: 23px;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 15px; 
    left: 270px;  
}

.subheader{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50px; 
    left: 30px;
}

.admin-info{
    position: absolute;
    top: 80px; 
    left: 15px;
    background-color: #F7D703;
    width: 250px; 
    height: 120px; 
    border-radius: 15px;
    padding-top: 5px;
    box-sizing: border-box;
}
.admin-info-details{
    margin: 0;
    padding: 2px 35px; 
    padding-left: 70px;
}
.admin-view-btn{
    background-color: black;
    border-radius: 15px;
    width: 50px;
    height: 20px; 
    position: absolute;
    top: 95px; 
    left: 190px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.admin-view-text{
    color: white;
    text-align: center;
    font-size: 12px;
}
.managed-instructors{
    position: absolute;
    top: 80px; 
    left: 270px;
    background-color: #F7D703;
    border-radius: 15px;
    width: 230px; 
    height: 175px; 
}

.managed-instructors-text{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0px; 
    left: 10px;
}

.instructor-a{
    background-color: rgb(199, 199, 204);
    border-radius: 15px;
    position: absolute;
    top: 34px; 
    left: 12px;
    width: 210px; 
    height: 65px; 
    
}

.instructor-b{
    background-color: rgb(199, 199, 204);
    border-radius: 15px;
    position: absolute;
    top: 104px; 
    left: 12px;
    width: 210px; 
    height: 65px;  
}

.instructor-1{
    font-size: 9px;
    position: absolute;
    top: 29px; 
    left: 12px;
}

.instructor-2{
    font-size: 10px;
    margin: 0;
    padding: 2px 35px; 
    padding-left: 70px;
    
}

.instructor-3{
    position: absolute;
    top: -22px; 
    left: 152px;
    font-size: 10px;
}


.instructor-4{
    position: absolute;
    top: -35px; 
    left: 167px;
    font-size: 20px;
}

.instructor-5{
    position: absolute;
    top: 15px; 
    left: 163px;
    font-size: 8px;
}

.instructor-view-btn{
    background-color: black;
    border-radius: 15px;
    width: 50px;
    height: 15px; 
    position: absolute;
    top: 47px;
    left: 70px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.instructor-view-text{
    color: white;
    text-align: center;
    font-size: 10px;
}

.communication{
    position: absolute;
    top: 80px;
    left: 505px;
    background-color: #F7D703;
    border-radius: 15px;
    width: 215px; 
    height: 105px; 
}

.communication-text{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -10px;
    left: 10px;
}

.admin-a{
    font-size: 9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 55px; 
    left: 30px;
}

.admin-b{
    font-size: 9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 55px; 
    left: 90px;
}

.communication-view-btn{
    background-color: black;
    border-radius: 15px;
    width: 50px;
    height: 15px; 
    position: absolute;
    top: 85px; 
    left: 150px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.communication-view-text{
    color: white;
    text-align: center;
    font-size: 10px;
}

.course-materials{
    position: absolute;
    top: 205px; 
    left: 15px;
    background-color: #F7D703;
    border-radius: 15px;
    width: 250px;
    height: 255px;
}

.course-materials-text{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -10px;
    left: 10px;
}

.course-materials-white{
    position: absolute;
    top: 35px;
    left: 5px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 238px;
    height: 215px;
}

.lesson-recordings{
    position: absolute;
    top: 45px;
    left: 5px;
    background-color: #F7D703;
    border-radius: 15px;
    width: 110px;
    height: 155px;
}

.lesson-recordings-text{
    font-size: 9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -10px;
    left: 10px;
}

.published-assignments{
    position: absolute;
    top: 45px;
    left: 123px;
    background-color: #F7D703;
    border-radius: 15px;
    width: 110px; 
    height: 155px;
}

.published-assignments-text{
    font-size: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -7px;
    left: 10px;
}

.select-class{
    position: absolute;
    top: 5px;
    left: 65px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 115px;
    height: 20px;
    border: 1px solid black;
}

.select-class-text{
    position: absolute;
    top: -10px; 
    left: 15px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recording-1{
    position: absolute;
    top: 20px;
    left: 10px;
    background-color:  rgb(199, 199, 204);
    border-radius: 10px;
    width: 95px; 
    height: 30px;
}

.recording-2{
    position: absolute;
    top: 58px; 
    left: 10px;
    background-color:  rgb(199, 199, 204);
    border-radius: 10px;
    width: 95px; 
    height: 30px;
}

.recording-3{
    position: absolute;
    top: 96px; 
    left: 10px;
    background-color:  rgb(199, 199, 204);
    border-radius: 10px;
    width: 95px;
    height: 30px;
}

.recording-number{
    font-size: 8.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -10px;
    left: 10px;
}

.recording-date{
    font-size: 8.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 3px; 
    left: 10px;
}

.homework-1{
    position: absolute;
    top: 25px;
    left: 10px; 
    background-color:  rgb(199, 199, 204);
    border-radius: 15px;
    width: 98px;
    height: 45px;
}

.homework-2{
    position: absolute;
    top: 75px;
    left: 10px;
    background-color:  rgb(199, 199, 204);
    border-radius: 15px;
    width: 98px; 
    height: 45px;
}

.homework-3{
    position: absolute;
    top: 95px;
    left: 10px;
    background-color:  rgb(199, 199, 204);
    border-radius: 15px;
    width: 98px; 
    height: 30px;
}

.homework-number{
    font-size: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -10px; 
    left: 5px;
}

.homework-date{
    font-size: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -10px; 
    left: 67px;
}

.homework-view{
    background-color: black;
    border-radius: 15px;
    width: 45px;
    height: 13px; 
    position: absolute;
    top: 25px; 
    left: 27.5px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.homework-view-text{
    color: yellow;
    text-align: center;
    font-size: 10px;

}

.managed-students{
    position: absolute;
    top: 260px; 
    left: 270px;
    background-color: #F7D703;
    border-radius: 15px;
    width: 230px; 
    height: 200px;   
}

.managed-students-text{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -10px; 
    left: 10px;
}

.select-instructor-students{
    position: absolute;
    top: 33px; 
    left: 58px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 115px; 
    height: 20px;
    border: 1px solid black; 
}

.select-instructor-students-text{
    position: absolute;
    top: -13px; 
    left: 6px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.student-a{
    background-color: rgb(199, 199, 204);
    border-radius: 15px;
    position: absolute;
    top: 60px;
    left:15px;
    width: 210px; 
    height: 65px; 
    
}

.student-b{
    background-color: rgb(199, 199, 204);
    border-radius: 15px;
    position: absolute;
    top: 130px; 
    left: 15px;
    width: 210px; 
    height: 65px; 
}

.student-1{
    font-size: 9px;
    position: absolute;
    top: 29px; 
    left: 12px;
}

.student-2{
    font-size: 10px;
    margin: 0;
    padding: 2px 35px; 
    padding-left: 70px;
    
}

.student-3{
    position: absolute;
    top: -22px; 
    left: 152px;
    font-size: 10px;
}


.student-4{
    position: absolute;
    top: -35px; 
    left: 167px;
    font-size: 20px;
}

.student-5{
    position: absolute;
    top: 15px; 
    left: 163px;
    font-size: 8px;
}

.student-view-btn{
    background-color: black;
    border-radius: 15px;
    width: 50px;
    height: 15px; 
    position: absolute;
    top: 47px; 
    left: 70px;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.student-view-text{
    color: white;
    text-align: center;
    font-size: 10px;
}

.chatroom-monitor{
    position: absolute;
    top: 190px; 
    left: 505px;
    background-color: #F7D703;
    border-radius: 15px;
    width: 215px; 
    height: 270px;   
}

.chatroom-monitor-text{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: -10px; 
    left: 10px;
}

.chatroom-monitor-white{
    position: absolute;
    top: 35px; 
    left: 9px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 198px; 
    height: 220px; 
}

.select-instructor-chatroom{
    position: absolute;
    top: 8px; 
    left: 43px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 115px; 
    height: 20px; 
    border: 1px solid black;
}
.select-instructor-chatroom-text{
    position: absolute;
    top: -12px; 
    left: 6px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chatroom-student-a{
    background-color: rgb(199, 199, 204);
    border-radius: 15px;
    position: absolute;
    top: 60px; 
    left: 20px;
    width: 170px; 
    height: 65px; 
}

.chatroom-student-b{
    background-color: rgb(199, 199, 204);
    border-radius: 15px;
    position: absolute;
    top: 135px; 
    left: 20px;
    width: 170px; 
    height: 65px;
}


.student-1-chat{
    font-size: 9px;
    position: absolute;
    top: 33px; 
    left: 12px;
}

.chatroom-view-button{
    background-color: black;
    border-radius: 15px;
    width: 50px;
    height: 15px; 
    position: absolute;
    top: 47px;
    left: 60px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.chatroom-view-button-text{
    color: white;
    text-align: center;
    font-size: 10px;
}

.chatroom-report-button{
    background-color: rgb(250, 2, 2);
    border-radius: 15px;
    width: 50px;
    height: 15px; 
    position: absolute;
    top: 47px; 
    left: 115px;
    display: flex;
    align-items: center; 
    justify-content: center;   
}

.chatroom-report-button-text{
    color: white;
    text-align: center;
    font-size: 10px;
}

.chatroom-history{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 25px; 
    left: 55px;
}

.recordings-draft-box{
    position: absolute;
    top: 130px; 
    left: 53px;
    background-color: rgb(199, 199, 204);
    border-radius: 15px;
    width: 20px; 
    height: 20px;
}

.recordings-draft{
    position: absolute;
    top: 2px; 
    left: 2.5px;
    border-radius: 15px;
    width: 16px; 
    height: 16px;
}

.recordings-plus-box{
    position: absolute;
    top: 130px; 
    left: 80px;
    background-color: rgb(199, 199, 204);
    border-radius: 15px;
    width: 20px; 
    height: 20px;
}
.recordings-plus{
    position: absolute;
    top: 2px; 
    left: 2.5px;
    border-radius: 15px;
    width: 15px; 
    height: 15px;
}

.admin-draft{
    position: absolute;
    top: 5px; 
    left: 220px;
    border-radius: 15px;
    width: 22px; 
    height: 22px;
}

.managed-instructors-draft{
    position: absolute;
    top: 5px; 
    left: 200px;
    border-radius: 15px;
    width: 22px; 
    height: 22px;
}

.managed-students-draft{
    position: absolute;
    top: 5px; 
    left: 200px;
    border-radius: 15px;
    width: 22px; 
    height: 22px;
}

.student-settings{
    position: absolute;
    top: 5px; 
    left: 150px;
    border-radius: 15px;
    width: 16px; 
    height: 16px;
}

.admin-profile{
    position: absolute;
    top: 0px; 
    left: 0px;
    border-radius: 15px;
    width: 60px; 
    height: 60px;
}

.instructor-profile{
    position: absolute;
    top: -5px; 
    left: 5px;
    border-radius: 15px;
    width: 60px; 
    height: 60px;
}

.communication-admin-a{
    position: absolute;
    top: 15px; 
    left: 20px;
    border-radius: 15px;
    width: 60px; 
    height: 60px;
}

.communication-admin-b{
    position: absolute;
    top: 15px; 
    left: 80px;
    border-radius: 15px;
    width: 60px; 
    height: 60px;
}

.student-profile-managed{
    position: absolute;
    top: -5px; 
    left: 2px;
    border-radius: 15px;
    width: 60px; 
    height: 60px;
}

.student-profile-chatroom{
    position: absolute;
    top: -6px; 
    left: 1px;
    border-radius: 15px;
    width: 60px; 
    height: 60px;
}

.select-class-arrow{
    position: absolute;
    top: 4px; 
    left: 82px;
    width: 27px; 
    height: 11px;
}

.select-instructor-arrow-1{
    position: absolute;
    top: 4px; 
    left: 92px;
    width: 20px; 
    height: 11px;
}

.select-instructor-arrow-2{
    position: absolute;
    top: 5px; 
    left: 92px;
    width: 20px; 
    height: 11px;
}

body{
    background-color: #f7f7e7;
    
}